*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'fmEmanee';
  src: url('/assets/fonts/FM Emanee X.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fmBindumathi';
  src: url('/assets/fonts/FM Bindumathi.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}

@font-face {
  font-family: 'fmMalithi';
  src: url('/assets/fonts/FM-Malithi-x.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}

@font-face {
  font-family: 'fmEmanee4u';
  src: url('/assets/fonts/FM Emanee X.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;